.navbar-secondary {
  background-color: transparent;
  border-bottom: 1px solid rgb(59, 59, 59);
}

.navbar-secondary-content {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
}

.navbar-secondary-content a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
  display: inline-block;
  font-size: 14px;
  font-weight: 550;
}

.navbar-secondary-content a:hover {
  transform: scale(1.03);
}

.navbar-secondary-logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../../images/mentup-logo.png');
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: transparent;
  object-fit: cover;
}

.navbar-secondary-logo-name {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-secondary-logo-name a:hover {
  color: #006239;
}

.navbar-secondary-apply-mentorship a {
  border-radius: 100px;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-secondary-apply-mentorship a:hover {
  transform: scale(1.03);
  color: #006239;
}

.navbar-secondary-items-right-col {
  display: flex;
  align-items: center;
}

.navbar-secondary-items a {
  transition: color 0.3s ease;
  border-radius: 100px;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 14px;
}

.navbar-secondary-items a:hover {
  color: #006239;
  transform: scale(1.03);
}

.navbar-secondary-options {
  display: flex;
  flex-direction: row;
}

.navbar-secondary-options button {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 8px;
  border-radius: 20px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-secondary-options button:hover {
  background-color: #006239;
}

/* Ana dropdown kapsayıcı */
.navbar-secondary-profile {
  position: relative;
  display: inline-block;
}

/* Dropdown butonunun tasarımı */
.navbar-secondary-profile-button {
  background-color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Dropdown menü (gizli) */
.navbar-secondary-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0; /* Menü ekranın sağ kenarına hizalanır */
  background-color: #171717;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px; /* Menü genişliğini belirler */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Profil resmini ve kullanıcı adını üst kısımda hizala */
.navbar-secondary-profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #4a4a4a;
}

.navbar-profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.navbar-profile-name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.navbar-view-profile-link {
  display: block;
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
}

/* Menü elemanları */
.navbar-secondary-dropdown-menu li {
  padding: 5px 0px;
}

.navbar-secondary-dropdown-menu li:hover {
  background-color: #1d1d1d;
}

/* Menü bağlantı tasarımı */
.navbar-secondary-dropdown-menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #fff;
  text-align: left; /* Metni sola hizalar */
  white-space: nowrap; /* Tek satırda tutar, taşarsa kaydırmaz */
  gap: 10px;
  padding: 10px;
  font-weight: 500;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s, transform 0.3s;

}

.navbar-secondary-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../../images/mentor.png');
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: transparent;
  object-fit: cover;
}