.browse-mentors-container {
    background: linear-gradient(168.18deg, #101828 22.59%, #6938ef 85.64%), linear-gradient(137.87deg, #101828 37.36%, #8619f5 80.62%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  }
  
  .browse-mentors-form h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .browse-mentors-search-bar {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
    width: 80%;
    height: 110px;
  }
  
  .browse-mentors-search-input-wrapper {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    height: 28px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .browse-mentors-search-input-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    padding-left: 10px;
    color: #333;
  }
  
  .browse-mentors-search-input-wrapper input::placeholder {
    color: #aaa;
  }
  
  .browse-mentors-search-icon {
    background-color: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .browse-mentors-search-icon svg {
    flex-shrink: 0;
    transition: color 0.3 ease;
  }
  
  .browse-mentors-search-icon:hover svg{
    color: #555;
  }
  
  .browse-mentors-search-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    gap: 15px;
  }
  
  .browse-mentors-search-tags button{
    display: inline-block;
    width: max-content;
    height: 35px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Hover animasyonu */
    cursor: pointer;
    padding: 10px 15px;
  
  }
  
  .browse-mentors-search-tags button:hover {
    border: 1px solid #6938ef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .browse-mentors-search-tags span {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    color: #3a3a3a;
    font-weight: 400;
  }
  
  
  .menu-filter {
    position: relative;
  }
  
  
  .menu-filter ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 5px 0 0 0;
    z-index: 100;
  }
  
  .menu-filter li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.25s ease;
  }
  
  .menu-filter ul li:hover {
    background-color: #f1f1f1;
  }