.appointments-container {
  background: linear-gradient(168.18deg, #101828 22.59%, #6938ef 85.64%), linear-gradient(137.87deg, #101828 37.36%, #8619f5 80.62%);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.appointment-form-title-div {
  padding: 40px;
}

.appointment-form-title {
  color: #fff;
}

.appointment-form {
  padding-left: 100px;
  width: 90%;
}

.appointment-date-title {
  color: #fff;
}

.appointment-card {
  display: flex;
  width: 70%;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-top: 25px;
}

.appointment-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('../../images/mentor.png');
  background-size: cover;
  background-position: center; 
  margin-right: 20px;
  flex-shrink: 0;
  margin: 10px;
  margin-right: 20px;
}

.appointment-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.appointment-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.appointment-mentor-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.appointment-name {
  font-weight: 600;
  font-size: 16px;
}

.appointment-job {
  color: #4d4d4d;
  background-color: rgb(226, 226, 226);
  margin-left: 10px;
  margin: 6px;
  border-radius: 12px;
  font-size: 14px;
  padding: 4px 8px;
}

.appointment-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */

}

.appointment-description p{
  margin-right: 32px;
  font-size: 14px;
}
.message-button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  /* margin-left: 270px; */
  margin-right: 20px;
  margin-left: 50px;
  background-color: rgb(255, 144, 16);
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.message-button:hover {
  background-color: rgb(255, 177, 88);
}

.appointment-button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  /* margin-left: 270px; */
  background-color: rgb(49, 128, 255);
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.appointment-button:hover {
  background-color: rgb(77, 144, 253);
}

.appointment-review-button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  /* margin-left: 270px; */
  background-color: #007a10;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.appointment-review-button:hover {
  background-color: #2e953c;
}
