.apply-mentorship-container {
  background: linear-gradient(168.18deg, #101828 22.59%, #6938ef 85.64%), linear-gradient(137.87deg, #101828 37.36%, #8619f5 80.62%);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.apply-mentorship-div {
  display: block;
  justify-content: center;
  text-align: center;
}

.apply-mentorship-div h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  display: block;
  margin-left: 25px;
  color: #ffffff;
}

.apply-mentorship-form {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 1050px;
  margin-top: 25px;
  margin-left: 25px;
}

.apply-mentorship-form h2 {
  margin-left: 80px;
  margin-top: 50px;
  display: block;
}


.apply-mentorship-form h2 {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.apply-mentorship-infos {
  margin: 25px;
}

.apply-mentorship-form label {
  font-size: 14px;
  color: #454545;
  font-weight: bold;
}

.apply-mentorship-div {
  display: block;
  justify-content: center;
  text-align: center;
}

.apply-mentorship-div h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  display: block;
  margin-left: 25px;
  color: #ffffff;
}

.apply-mentorship-form {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 1050px;
  margin-top: 25px;
  margin-left: 25px;
}

.apply-mentorship-form h2 {
  margin-left: 80px;
  margin-top: 50px;
  display: block;
}


.apply-mentorship-form h2 {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.apply-mentorship-infos {
  margin: 25px;
}

.apply-mentorship-form label {
  font-size: 14px;
  color: #454545;
  font-weight: bold;
}

.apply-mentorship-name,
.apply-mentorship-surname,
.apply-mentorship-age,
.apply-mentorship-email,
.apply-mentorship-exp,
.apply-mentorship-why,
.apply-mentorship-certificate,
.apply-mentorship-button-submit-div,
.apply-mentorship-diploma {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.apply-mentorship-name-label,
.apply-mentorship-surname-label,
.apply-mentorship-age-label,
.apply-mentorship-email-label,
.apply-mentorship-exp-label,
.apply-mentorship-why-label,
.apply-mentorship-diploma-label {
  text-align: left;
}

.apply-mentorship-form input {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: 1px solid rgb(153, 153, 153);
  background-color: #f9feff;
  margin-top: 5px;
  margin-bottom: 20px;
}

.apply-mentorship-name {
  display: block;
}

.apply-mentorship-certificate {
  display: block;
}

.apply-mentorship-button-certificate {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: rgb(255, 144, 16);
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 25px;
}

.apply-mentorship-button-certificate:hover {
  background-color: rgb(255, 177, 88);
}

.selected-file-name {
  margin-left: 10px;
  font-style: italic;
  color: #555;
}

.selected-file-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.selected-file-name {
  margin-right: 10px;
  font-style: italic;
  color: #555;
}

.remove-file-button {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.remove-file-button:hover {
  color: darkred;
}

.apply-mentorship-button-submit {
  width: 85px;
  height: 40px;
  border-radius: 30px;
  background-color: rgb(49, 128, 255);
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
  margin-top: 25px;
}

.apply-mentorship-button-submit:hover {
  background-color: rgb(77, 144, 253);
}